@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
background-color: var(--background-color);
margin: 0;
font-family: 'Inter', sans-serif;
color: var(--color-text);
}

